<!DOCTYPE html>
<html>
   <head>
      <title>Add Volume</title>
   </head>
   <body>
      <h3>Profile form</h3>
      <form action="/add" method="POST">
         <label>Series Name</label>
         <input type="text" name="series_name" placeholder="series name...">
         <label>Volume Number</label>
         <input type="number" name= "volume_number" placeholder="volume number...">
         <label>Volume Type</label>
         <input type="text" name="volume_type" placeholder="volume type..">
         <button type="submit">Add</button>
      </form>
   </body>
</html>